*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div{
    margin: 40px 40px;
    width: 150px;
    height:150px;
    background-color: rgb(1, 107, 1);
}
div:hover{
    transform: rotate(45deg);
}