*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img {
    width:50vw;
    height:auto;
}
img+p{
    background-color:rgba(19,18,18,0.4);
    color:white;
    width:50vw;
    height:26px;
    position:relative;
     top:-30px;
  
}
p:nth-of-type(2){
    width:50vw;
    font-size:20px;
    position:relative;
     top:-30px;
}